
/*.intro{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}*/

.resume{
    max-width: 2480px;
}

.title{

    width: 300px;
}

.details{
    column-span: 2;
}

h1{
    color: #071A77;
    /*font-family: Impact,serif;*/
}

hr {
    height: 0.5px;
    border-width: 0.25px;
    background-color: black;
    border-color: black;
    border-collapse: collapse;
}

a, a:visited, a:active{
    color: #0000EE;
}

a:hover { color: #551A8B; }

figcaption {
    font-size: .25px;
    padding: 0.25px;
}

.organization{
    font-style: italic;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.download-btn{
    padding 12px 24px;
    font-size:16 px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background: #071A77;/*linear-gradient (to right, color 1, cololr2)*/
    border: none;
    border-radius: 8px;
    /*margin: 8px 24px;*/
    box-shadow: 0 6px 20 px -8px rgba(0,0,0,0.5);
    cursor:pointer;
    transition: all 500ms ease;
}

.download-btn::hover{
    transform: translateY(-4px);
    color:white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 20px;/*10 then 30*/
}

h1,h3,h4,.parag-interests,img{
    margin-top: 0;
    margin-bottom: 0;
}
